* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    
}

html, body {
    min-height: 100%
}

/* Banner */
.banner {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center center;
}

/* Nav */
nav {
    display: flex;
    margin-top: -5px; 
    background-color: #343A3F;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar {
    padding: 1rem;
    text-align: center;
    display: inline-block;
}

.navbar a {
    color: white;;
}

.navbar > li {
    float: left;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: #343A3F;
    cursor: pointer;
    font-size: 17px;
}

.second-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
}

.second-menu li {
    background-color: #343A3F;
    color: white;
    font-size: 14px;
    height: 50px;
    line-height: 42px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;   
}

.second-menu li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.second-menu li:last-child {
    padding-bottom: 50px;
}

.navbar > li:hover .second-menu li {
    transform: scale(1);
  }
  .navbar > li:hover .second-menu {
    transform: scale(1);
  }

/* Container */
.container {
    max-width: 1200px; /* boite 1200px max centrée */
    margin: 0 auto; /* centrage horizontal d'un display block */
    /* width: 1200px; */
}

/* Page : Accueil */

.h2-accueil {
    margin-top: 2rem;
    text-align: center;
}

/* Page : Musique */
.music-body {
    background: rgb(34,193,195);
    background: -moz-linear-gradient(219deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(219deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(219deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}

.music-title {
    color: #FFFFFF;
    text-decoration: underline;
    margin-bottom: 1rem;
}


.music-title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: beaufort-pro, serif;
    font-style: italic;
}
.music-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.music-card-item {
    margin-bottom: 1rem;
}

.title-card-item {
    background-color: #FFF;
    text-decoration: underline;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
}


/* Footer */
.footer {  
    width: 100%;  
    position: fixed;
    left: 0;
    bottom: 0;   
    color: white;
    text-align: center;
    background: rgb(57,59,57);
    background: radial-gradient(circle, rgba(57,59,57,1) 0%, rgba(0,0,0,1) 100%);
    padding: 1rem 0;
}

.footer a {
    color: #FFFFFF;
}